$dark-green: #0A704E;
$light-green: #6F9D80;
$orange: #FA7711;



.base{
    position: center;
    display: block;
    max-width: 350px;
    margin: 50px auto;
    font-family:'Roboto Mono', monospace;
    .profile {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        object-fit: cover;
    }
    h1{
        color: $light-green;
        font-weight: 100;
    }
    h3{
        color: $dark-green;
    }
    p{
        color: $orange;
    }
    div ul {
        list-style: none;
        padding-left: 0px;
        padding-bottom: 15px;
        li {
            margin-right: 10px;
            float:left; 
            a {
                color: $orange;
            }
        }   
    }
}

.expanded{
    .bio{
        float: left;
        margin: 10px;
    }
    .content {
        float: right;
        width: 60%;
        a {
            color: $orange;
        }
    }
    display: block;
    max-width: 1050px;
    margin: 50px auto;
    font-family:'Roboto Mono', monospace;
    
    .profile {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: left;
        object-fit: cover;
    }
    h1{
        color: $light-green;
        font-weight: 100;
    }
    h3{
        color: $dark-green;
    }
    p{
        color: $orange;
    }
    div ul {
        list-style: none;
        padding-left: 0px;
        padding-bottom: 15px;
        li {
            margin-right: 10px;
            float:left; 
            a {
                color: $orange;
            }
        }   
    }
}