.base{
    position: center;
    display: block;
    max-width: 350px;
    margin: 50px auto;
}
.base .profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.base h1{
    font-family:'Roboto Mono', monospace;
    color: #6F9D80;
    font-weight: 100;
}
.base h3{
    font-family:'Roboto Mono', monospace;
    color: #0A704E;
}

.base a:not(:last-child){
    font-family:'Roboto Mono', monospace;
    color: #FA7711;
    margin-right: 25px;
}

.base a{
    font-family:'Roboto Mono', monospace;
    color: #FA7711;
}

.base p{
    font-family:'Roboto Mono', monospace;
    color: #FA7711;
}