<div class="base">
    <img src="../assets/profile.jpg" alt="my face" class="profile"/>
    <h1>Sumaiya Asif</h1>
    <h3>Software Engineer in Austin, TX</h3>
    <nav>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a href="https://twitter.com/asif_i_care" target="_blank">Twitter</a>
        <a href="https://github.com/sumaiyaasif" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/sumaiyaasif/" target="_blank">LinkedIn</a>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
    <div>Hello {{value}}</div>
</div>